# Node modules
node_modules
backend/node_modules
frontend/node_modules

# Environment files (VERY important)
.env
backend/.env
frontend/.env

# OS files
.DS_Store

# Logs
logs
*.log

# Build folders
dist
build

# AWS config secrets (if any local copy)
backend/config/aws.config.js
