.color-empty {
    fill: #ebedf0;
  }
  
  .color-github-1 {
    fill: #9be9a8;
  }
  
  .color-github-2 {
    fill: #40c463;
  }
  
  .color-github-3 {
    fill: #30a14e;
  }
  
  .color-github-4 {
    fill: #216e39;
  }
  